.navbar{
    background-color: darkcyan;
}

.menu-icon {
    display: flex;
    float: right;
}


#mo{
    font-size: xx-large; 
}
ul{
    display: none;
    background: #1858a1;
    overflow: visible;
}

.NAV-LINKS{
    color: aliceblue;
}


.menu-icon:hover ul
{ text-align: center;
    font-size: x-large;
    display: inline-block;

}
.footer
{
    margin-top: 100px;
    background: #000;
    color: #fff;
}
.footer h1{
    font-size: 15px;
    margin: 25px 0;
}
.footer p
{
    font-size: 12px;
}
.icon 
{
    height: 40px;
    width: 40px;
}
.copyright
{
margin-bottom: -80px;
text-align: center;
font-size: 15px;
padding-bottom: 20px;
}
.footer hr{
    margin-top: 10px;
    background-color: #ccc;

}
.footer-image img
{ height: 30px;
    width: 30px;
}
.hello p{
    font-size: 60px;
}
label{
    display: grid;
    font-size: 80px;
    color:orange;


}
h1{
    font-size: 70px;
}